body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    display: flex;
    margin-bottom: 30px;
}

h3 {
    font-size: 34px;
    display: flex;
    margin: 0;
    margin-bottom: 10px;
}

h5 {
    font-size: 26px;
    display: flex;
    margin: 0;
}

.sidebar {
    background-color: #ff00c8ff;
    color: white;
    height: auto;
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding: 35px;
    display: flex;
}

.logo>img {
    width: 100px;
    height: auto;
}

.nav {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav>a {
    padding: 25px;
    border-top: 2px white solid;
    color: white !important;
    font-weight: 700;
    text-decoration: none;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon {
    fill: white;
    height: 35px;
    width: 35px;
    padding: 8px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.top-section {
    padding: 50px 0 100px 50px;
    color: #ff00c8ff;
}

.name-logo {
    height: 58px;
    padding-bottom: 35px;
}

.headings {
    padding-bottom: 200px;
}

.about {
    background-color: white;
    padding-top: 300px;
    padding-right: 200px;
    padding-left: 50px;
}

.about-text {
    font-size: 16px !important;
    line-height: 1.5em;
}

.mid-section {
    background-color: #ff00c844;
    flex: auto;
    padding: 50px;
}

.projects-heading {
    display: flex;
    justify-content: center;
    color: #ff00c8ff;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}



.project-icon {
    height: 200px;
    width: 200px;
    background-color: lightgrey;
    border: none;
    border-radius: 25px;
    margin: 35px 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.contact-heading {
    font-size: 26px;
    font-weight: 700;
    color: #ff00c8ff;
}

.contact-input {
    border: transparent;
    width: 55%;
    padding: 8px;
}

#message {
    padding-bottom: 50px;
}

#submit {
    color: white;
    background-color: #ff00c8ff;
    font-size: 16px;
    padding: 8px 16px;
    border: transparent;
    border-radius: 8px;
    margin: 35px 0;
    width: 55%;
}

#submit:hover {
    color: #ff00c8ff;
    background-color: white;
}

@media screen and (max-width: 950px) and (min-width: 300px) {

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        min-width: fit-content;
    }

    .sidebar {
        margin: 0;
        padding: 0;
        width: 100vw;
        display: flex;
    }

    .main-container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
    }

    .top-section {
        margin: 0;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }

    .name-logo {
        max-width: 350px;
        height: auto;
    }

    .about {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mid-section {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .projects-heading {
        margin: 0;
        padding: 0;
        padding-top: 50px;
    }

    .projects {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        margin: 0;
        padding: 0;
    }
}